{% extends "base.html" %}
{% block content %}
            <div class="row">
            <div id="lateral" class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li {% if request.endpoint == "containers" %}class="active"{% endif %}><a href="{{ url_for("containers") }}">Running</a></li>
                    <li {% if request.endpoint == "containersall" %}class="active"{% endif %}><a href="{{ url_for("containersall") }}">All</a></li>
                <hr>
                    <li {% if request.endpoint == "containernew" %}class="active"{% endif %}><a href="{{ url_for("containernew") }}">New container</a></li>
                </ul>
            </div>
    {% if containers %}
            <div id="containers" class="col-md-8">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th colspan="8">
                            <center>Containers <a href="{{ url_for("containers") }}"><i class="fa fa-refresh"></i></a>
                            </center>
                        </th>
                    </tr>
                    <th></th>
                    <th>Id</th>
                    <th>Status</th>
                    <th>Image</th>
                    <th>Ports</th>
                    <th>Command</th>
                    <th>Name</th>
                    <th>Actions</th>
                    {% for container in containers %}
                        <tr>
                            <td><center><input type="checkbox" id="select" value="{{ container.Id|truncate(12, True, end="") }}"></center></td>
                            <td><a href="{{ url_for("containers") }}{{ container.Id|truncate(12, True, end="") }}">{{ container.Id|truncate(12, True, end="") }}</a></td>
                            <td>{{ container.Status }}</td>
                            <td>{{ container.Image }}</td>
                            <td>{% if container.Ports is not none %}{% for name in container.Ports %}{% if name.IP %}{{ name.IP }}:{% endif %}{% if name.PublicPort %}{{ name.PublicPort }}{% endif %}{% if name.PrivatePort %} -> {{ name.PrivatePort }}{% endif %}{% if loop.last %}{% else %}, {% endif %}{% endfor %}{% endif %}</td>
                            <td><div data-toggle="tooltip" title="command">{{ container.Command }}</div></td>
                            <td>{% for name in container.Names %}{{ name }}{% if loop.last %}{% else %}, {% endif %}{% endfor %}</td>
                            <td>{% if "Exit" in container.Status %}<a href="{{ url_for("containers") }}{{ container.Id|truncate(12, True, end="") }}/start"><button class="btn btn-success btn-xs">Start</button></a>{% else %}<a href="{{ url_for("containers") }}{{ container.Id|truncate(12, True, end="") }}/stop"><button class="btn btn-warning btn-xs">Stop</button></a>{% endif %}
                                <a href="{{ url_for("containers") }}{{ container.Id|truncate(12, True, end="") }}/delete">
                                    <button class="btn btn-danger btn-xs">Delete</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <p><a href="{{ url_for("containers") }}all/stop"><button class="btn btn-warning">Stop all containers</button></a> <a href="{{ url_for("containers") }}all/delete"><button class="btn btn-danger">Delete all containers</button></a></p>
                <hr>
                <p><button class="btn btn-warning" onclick="stopcontainers()">Stop selected containers</button> <button class="btn btn-danger" onclick="deletecontainers()">Delete selected containers</button></p>
            </div>
    {% endif %}
    {% if containerinfo %}
            <div id="containerinfo" class="col-md-8">
                <table class="table table-bordered table-hover">
                <tr class="success"><th colspan="2"><center><h3>Image {{ containerinfo.Name }}</h3></center></th></tr>
                <tr><td>Id</td><td>{{ containerinfo.ID|truncate(12, True, end="") }}</td></tr>
                <tr><td>Hostname</td><td>{{ containerinfo.Config.Hostname }}</td></tr>
                <tr><td>Dns</td><td>{% for item in containerinfo.Config.Dns %}{% if loop.last %}{{ item }}{% else %}{{ item }}, {% endif %}{% endfor %}</td></tr>
                <tr><td>Entrypoint</td><td>{{ containerinfo.Config.Entrypoint }}</td></tr>
                <tr><td>Portspecs</td><td>{{ containerinfo.Config.PortSpecs }}</td></tr>
                <tr><td>Exposed ports</td><td>{{ containerinfo.ExposedPorts }}</td></tr>
                <tr><td>Memory</td><td>{{ containerinfo.Config.Memory }}</td></tr>
                <tr><td>Image</td><td>{{ containerinfo.Config.Image }}</td></tr>
                <tr><td>Volumes</td><td>{{ containerinfo.Volumes }}</td></tr>
                <tr><td>IP address</td><td>{{ containerinfo.NetworkSettings.IPAddress }}</td></tr>
                <tr><td>Running?</td><td>{{ containerinfo.State.Running }}</td></tr>
                {% if logs  %}<tr><td colspan="2"><ul>{% for log in logs %}<li>{{ log }}</li>{% endfor %}</ul></td></tr>{% endif %}
                </table>
        </div>
    {% endif %}
    </div>
{% endblock %}
{% block end %}
        <script>
$('#command').tooltip()
    </script>
    <script>
    function stopcontainers() {
        $("input:checkbox").each(function() {
            if ($(this).is(":checked")) {
                $.ajax( {
                    type: "GET",
                    url: "{{ url_for("containers") }}" + $(this).val() + "/stop"
                })
            }
        });
        setTimeout(function() {location.reload()}, 5000)
    }
    function deletecontainers() {
        $("input:checkbox").each(function() {
            if ($(this).is(":checked")) {
                $.ajax( {
                    type: "GET",
                    url: "{{ url_for("containers") }}" + $(this).val() + "/delete"
                })
            }
        });
        setTimeout(function() {location.reload()}, 5000)
    }
    </script>
{% endblock %}