{% extends "base.html" %}
{% block content %}
    {% if images %}
        <div class="row">
                   <div id="lateral" class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li {% if request.endpoint == "images" %}class="active"{% endif %}><a href="{{ url_for("images") }}">Images</a></li>
                    <li {% if request.endpoint == "imagesall" %}class="active"{% endif %}><a href="{{ url_for("imagesall") }}">All</a></li>
                <hr>
                    <li {% if request.endpoint == "pullimage" %}class="active"{% endif %}><a href="{{ url_for("pullimage") }}">Pull image</a></li>
                </ul>
            </div>
            <div id="images" class="col-md-8">
                <table class="table table-bordered table-hover">
                    <tr>
                        <th colspan="5">
                            <center>Images <a href="{{ url_for("images") }}"><i class="fa fa-refresh"></i></a></center>
                        </th>
                    </tr>
                    <th>Id</th>
                    <th>Tags</th>
                    <th>Created</th>
                    <th>Size</th>
                    <th>Action</th>
                    {% for image in images %}
                        <tr>
                            <td><a href="
                                    {{ url_for("images") }}{{ image.Id|truncate(12, True, end="") }}">{{ image.Id|truncate(12, True, end="") }}</a>
                            </td>
                            <td>{% for name in image.RepoTags %}{{ name }}{% if loop.last %}{% else %}, {% endif %}{% endfor %}</td>
                            <td>{{ image.Created|date }}</td>
                            <td>{{ ((image.VirtualSize/1024)/1024)|round(2) }}Mb</td>
                            <td>
                                <a href="{{ url_for("containers") }}/new/{{ image_id|truncate(12, True, end="") }}">
                                    <button class="btn btn-success btn-xs">New container</button>
                                </a>
                                <a href="{{ url_for("images") }}{{ image.Id|truncate(12, True, end="") }}/delete">
                                    <button class="btn btn-danger btn-xs">Delete</button>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
    {% if image_id %}
        <div class="row">
            <div id="lateral" class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li {% if request.endpoint == "images" %}class="active"{% endif %}><a href="{{ url_for("images") }}">Images</a></li>
                    <li {% if request.endpoint == "imagesall" %}class="active"{% endif %}><a href="{{ url_for("imagesall") }}">All</a></li>
                <hr>
                    <li {% if request.endpoint == "pullimage" %}class="active"{% endif %}><a href="{{ url_for("pullimage") }}">Pull image</a></li>
                </ul>
            </div>
            <div id="image" class="col-md-8">
                {{ image_id }}
                <p>{{ inspect.author }}</p>
                <p>{{ inspect.container_config.PortSpecs }}</p>
                <p>{{ inspect.container_config.Entrypoint }}</p>
                <p>{{ inspect.container_config.Cmd }}</p>
            </div>
        </div>
    {% endif %}
{% endblock %}