{% extends "base.html" %}
{% block content %}
    <div class="row">
                       <div id="lateral" class="col-md-2">
                <ul class="nav nav-pills nav-stacked">
                    <li {% if request.endpoint == "images" %}class="active"{% endif %}><a href="{{ url_for("images") }}">Images</a></li>
                    <li {% if request.endpoint == "containersall" %}class="active"{% endif %}><a href="{{ url_for("containersall") }}">All</a></li>
                <hr>
                    <li {% if request.endpoint == "pullimage" %}class="active"{% endif %}><a href="{{ url_for("pullimage") }}">Pull image</a></li>
                </ul>
            </div>
        <div id="pull" class="col-md-8">
            <form action="{{ url_for("pullimage") }}" method="post" class="form-inline">
                <div class="form-group">
                    {{ form.url(class="form-control") }}
                </div>
                <button class="btn btn-success">Pull image</button>
            </form>

            <br>
                            <div id="bar">
                <div class="progress progress-striped active">
                <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                     style="width: 45%">
                    <span class="sr-only">45% Complete</span>
                </div>
            </div>
        </div>
            {% if image %}
                {{ image }}
            {% endif %}

        </div>
{% endblock %}